<launch>
  <arg name="imu_topic" default="/carla/ego_vehicle/imu" />
  <arg name="gps_topic" default="/carla/ego_vehicle/gps" />
  <arg name="ekf_topic" default="/odometry/filtered" />
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" clear_params="true">
    <rosparam command="load" file="$(find robot_localization)/params/navsat_transform_template.yaml" />

      <!-- Placeholders for input remapping. Set your topic names as the "to" values.-->
      <remap from="imu/data" to="$(arg imu_topic)"/>
      <remap from="odometry/filtered" to="$(arg ekf_topic)"/>
      <remap from="gps/fix" to="$(arg gps_topic)"/>

  </node>
</launch>
